
/* mics styles */
#separator{
  margin-top: 55px ;
}

/* nav bar styles */
nav{
  background-color: aqua;
  height: 50px;
}
.navbar-collapse{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* footer styles */
#footer{
  position: absolute;
  bottom:0;
  width:100%;
  margin-top: 20px;
  text-align: center;
}

/* reviews styles */
.review{
  color: grey;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#slider{
  width: 70%;
  max-width: 70%;
  margin:auto;
}

